.daniel {
    background: $moderate-violet;
    background-image: url(/testimonials-grid-section-main/images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: left 90% top 0%;

    .testimonial-verified {
        @extend %verified-white;
    }

    @media screen and (min-width: 990px) {
        grid-area: daniel;
    }
}