%gap {
    gap: 1.5rem;
}

%img-circle {
    border-radius: 50%;
    width: 1.8rem;
    border-style: solid 1px;
}

%verified-white{
    color: $white-50;
}

%verified-blue{
    color: $very-dark-grayish-blue;
}